mixin equipment
	section.equipment
		.row
			.caption
				h2.caption__title Используем
			.caption.caption_white
				h2.caption__title только современное оборудование 
		.swiper.slider-wrap
			.swiper-wrapper.slider
				.slide.swiper-slide
					img.slide__img(src=img+"equipment/img1.jpg", srcset=img+"equipment/webp/img1.webp" alt="")
					h3.slide__title Название оборудования
				.slide.swiper-slide
					img.slide__img(src=img+"equipment/img2.jpg", srcset=img+"equipment/webp/img2.webp" alt="")
					h3.slide__title Название оборудования
				.slide.swiper-slide
					img.slide__img(src=img+"equipment/img3.jpg", srcset=img+"equipment/webp/img3.webp" alt="")
					h3.slide__title Название оборудования
				.slide.swiper-slide
					img.slide__img(src=img+"equipment/img4.jpg", srcset=img+"equipment/webp/img4.webp" alt="")
					h3.slide__title Название оборудования
		.container
			.controls
				.pagination.pagination_white
				.arrows.arrows_white
					.arrow.arrow_prev
						+arrow-icon
					.arrow.arrow_next
						+arrow-icon
