extends ../layout.pug

block head-inner
	+title('Index page')
	+desc('Index page description')

block main
	+breadcrumbs

	section.specialists
		.container
			.caption.caption_w1104
				h1.caption__title Специалисты
				p.caption__text Постоянное информационно-пропагандистское обеспечение нашей деятельности предполагает независимые способы реализации анализа существующих паттернов поведения. С другой стороны, сложившаяся структура организации выявляет срочную потребность приоритизации разума над эмоциями. 
			.inner
				.item
					img.item__img(src=img+"team/img1.jpg", srcset=img+"team/img1.webp" alt="")
					.item-inner
						ul.item-list 
							li.item-list-item
								p.item-list__title ФИО
								p.item-list__text Петрова Елизавета Степановна
							li.item-list-item
								p.item-list__title Должность
								p.item-list__text Косметолог 
							li.item-list-item
								p.item-list__title Стаж работы
								p.item-list__text 7 лет
						a.btn.btn_green(href="") Сертификаты косметолога
				.item
					img.item__img(src=img+"team/img1.jpg", srcset=img+"team/img1.webp" alt="")
					.item-inner
						ul.item-list 
							li.item-list-item
								p.item-list__title ФИО
								p.item-list__text Петрова Елизавета Степановна
							li.item-list-item
								p.item-list__title Должность
								p.item-list__text Косметолог 
							li.item-list-item
								p.item-list__title Стаж работы
								p.item-list__text 7 лет
						a.btn.btn_green(href="") Сертификаты косметолога
				.item
					img.item__img(src=img+"team/img1.jpg", srcset=img+"team/img1.webp" alt="")
					.item-inner
						ul.item-list 
							li.item-list-item
								p.item-list__title ФИО
								p.item-list__text Петрова Елизавета Степановна
							li.item-list-item
								p.item-list__title Должность
								p.item-list__text Косметолог 
							li.item-list-item
								p.item-list__title Стаж работы
								p.item-list__text 7 лет
						a.btn.btn_green(href="") Сертификаты косметолога
				.item.item_ghost
					.item__title Скоро к нам присоединиться еще один специалист, а пока ждём :)
			+btn-more

	+contact
