mixin reviews-slider
	section.reviews-slider
		.container
			.inner
				.caption.caption_white
					h2.caption__title Отзывы
				.swiper.slider-wrap
					.swiper-wrapper.slider
						.swiper-slide.slide
							.slide-header
								img.slide__img(src=img+"reviews/img1.jpg", srcset=img+"reviews/img1.webp" alt="")
								.slide-header-inner
									h3.slide__name Елена Измайлова
									p.slide__date Опубликовано 30 октября 2021
									.stars
										+star-icon
										.stars__num 3
							p.slide__text.customScroll Противоположная точка зрения подразумевает, что представители современных социальных резервов призывают. А это на тот случай если будет очень много текста, как здесь.
						.swiper-slide.slide
							.slide-header
								img.slide__img(src=img+"reviews/img2.jpg", srcset=img+"reviews/img2.webp" alt="")
								.slide-header-inner
									h3.slide__name Евгений Шевчук
									p.slide__date Опубликовано 30 октября 2021
									.stars
										+star-icon
										.stars__num 4
							p.slide__text.customScroll Отзыв будет очень коротким. Молодцы.
						.swiper-slide.slide
							.slide-header
								img.slide__img(src=img+"reviews/img3.jpg", srcset=img+"reviews/img3.webp" alt="")
								.slide-header-inner
									h3.slide__name Виктория Либерман
									p.slide__date Опубликовано 30 октября 2021
									.stars
										+star-icon
										.stars__num 5
							p.slide__text.customScroll Противоположная точка зрения подразумевает, что представители современных социальных резервов призывают нас к новым свершениям, которые, в свою очередь, должны быть описаны максимально подробно. 
						.swiper-slide.slide
							.slide-header
								img.slide__img(src=img+"reviews/img3.jpg", srcset=img+"reviews/img3.webp" alt="")
								.slide-header-inner
									h3.slide__name Виктория Либерман
									p.slide__date Опубликовано 30 октября 2021
									.stars
										+star-icon
										.stars__num 5
							p.slide__text.customScroll Противоположная точка зрения подразумевает, что представители современных социальных резервов призывают нас к новым свершениям, которые, в свою очередь, должны быть описаны максимально подробно. 
						.swiper-slide.slide
							.slide-header
								img.slide__img(src=img+"reviews/img3.jpg", srcset=img+"reviews/img3.webp" alt="")
								.slide-header-inner
									h3.slide__name Виктория Либерман
									p.slide__date Опубликовано 30 октября 2021
									.stars
										+star-icon
										.stars__num 5
							p.slide__text.customScroll Противоположная точка зрения подразумевает, что представители современных социальных резервов призывают нас к новым свершениям, которые, в свою очередь, должны быть описаны максимально подробно. 
			.controls
				.pagination.pagination_dark
				.arrows.arrows_dark
					.arrow.arrow_prev
						+arrow-icon
					.arrow.arrow_next
						+arrow-icon


