mixin reasons
	section.reasons
		.container
			.caption.caption_center
				h2.caption__title 5 причин обратиться в нашу клинику
			.inner
				.item
					img.lozad.item__img(data-src=img+"reasons/img1.jpg", data-srcset=img+"reasons/img1.webp" alt="")
					p.item__title С момента запуска нам доверяют  уже более 5 000 пациентов
				.item
					img.lozad.item__img(data-src=img+"reasons/img2.jpg", data-srcset=img+"reasons/img2.webp" alt="")
					p.item__title Используем только современное оборудование 
				.item
					img.lozad.item__img(data-src=img+"reasons/img3.jpg", data-srcset=img+"reasons/img3.webp" alt="")
					p.item__title Результат длится на протяжении долгих месяцев 
				.item
					img.lozad.item__img(data-src=img+"reasons/img4.jpg", data-srcset=img+"reasons/img4.webp" alt="")
					p.item__title Сбалансированные цены без скрытых расходов 
				.item
					img.lozad.item__img(data-src=img+"reasons/img5.jpg", data-srcset=img+"reasons/img5.webp" alt="")
					p.item__title Работают <br> профессионалы
				.item
					img.lozad.item__img(data-src=img+"reasons/img6.jpg", data-srcset=img+"reasons/img6.webp" alt="")
					p.item__title Присутствует система скидок для постоянных клиентов
