mixin reasons
	section.reasons
		.container
			.caption.caption_center
				h2.caption__title 5 причин обратиться в нашу клинику
			.inner
				.item(href="#")
					img.item__img(src=img+"reasons/img1.jpg", alt="")
					p.item__title С момента запуска нам доверяют  уже более 5 000 пациентов
				.item(href="#")
					img.item__img(src=img+"reasons/img2.jpg", alt="")
					p.item__title Используем только современное оборудование 
				.item(href="#")
					img.item__img(src=img+"reasons/img3.jpg", alt="")
					p.item__title Результат длится на протяжении долгих месяцев 
				.item(href="#")
					img.item__img(src=img+"reasons/img4.jpg", alt="")
					p.item__title Сбалансированные цены без скрытых расходов 
				.item(href="#")
					img.item__img(src=img+"reasons/img5.jpg", alt="")
					p.item__title Работают <br> профессионалы
				.item(href="#")
					img.item__img(src=img+"reasons/img6.jpg", alt="")
					p.item__title Присутствует система скидок для постоянных клиентов
