mixin services-section
	section.services.services-section
		.container
			.caption.caption_center
				h2.caption__title Массаж — неотьемлемая часть <br> терапии в любом возрасте
				p.caption__text Постоянное информационно-пропагандистское обеспечение нашей деятельности предполагает независимые способы реализации анализа существующих паттернов поведения. С другой стороны, сложившаяся структура организации выявляет срочную потребность приоритизации разума над эмоциями. Прежде всего, убеждённость некоторых оппонентов требует анализа системы обучения кадров, соответствующей насущным потребностям. Высокотехнологичная концепция общественного уклада представляет собой интересный эксперимент проверки новых предложений.
			.caption
				h2.caption__title Наши услуги
			.inner
				a.item(href="#") 
					.item-inner
						img.item__img(src=img+"services/img1.jpg", alt="")
						.item-btn
							span Перейти
							+services-arrow-icon
					h3.item__title Чистка лица
				a.item(href="#") 
					.item-inner
						img.item__img(src=img+"services/img2.jpg", alt="")
						.item-btn
							span Перейти
							+services-arrow-icon
					h3.item__title Поверхностный пилинг 
				a.item(href="#") 
					.item-inner
						img.item__img(src=img+"services/img3.jpg", alt="")
						.item-btn
							span Перейти
							+services-arrow-icon
					h3.item__title Аппаратные процедуры <br> для лица и тела
				a.item(href="#") 
					.item-inner
						img.item__img(src=img+"services/img4.jpg", alt="")
						.item-btn
							span Перейти
							+services-arrow-icon
					h3.item__title Массаж лица
				a.item(href="#") 
					.item-inner
						img.item__img(src=img+"services/img5.jpg", alt="")
						.item-btn
							span Перейти
							+services-arrow-icon
					h3.item__title Комплексный уход

mixin services-page
	section.services.services-page