mixin services-section
	section.services.services-section
		.container
			.caption.caption_center
				h2.caption__title Массаж — неотьемлемая часть <br> терапии в любом возрасте
				p.caption__text Постоянное информационно-пропагандистское обеспечение нашей деятельности предполагает независимые способы реализации анализа существующих паттернов поведения. С другой стороны, сложившаяся структура организации выявляет срочную потребность приоритизации разума над эмоциями. Прежде всего, убеждённость некоторых оппонентов требует анализа системы обучения кадров, соответствующей насущным потребностям. Высокотехнологичная концепция общественного уклада представляет собой интересный эксперимент проверки новых предложений.
			.caption
				h2.caption__title Наши услуги
			.inner
				a.item(href="service.html") 
					.item-inner
						img.item__img(src=img+"services/img1.jpg", srcset=img+"services/webp/img1.webp" alt="")
						.item-btn
							span Перейти
							+arrow-icon
					h3.item__title Чистка лица
				a.item(href="service.html") 
					.item-inner
						img.item__img(src=img+"services/img2.jpg", srcset=img+"services/webp/img2.webp" alt="")
						.item-btn
							span Перейти
							+arrow-icon
					h3.item__title Поверхностный пилинг 
				a.item(href="service.html") 
					.item-inner
						img.item__img(src=img+"services/img3.jpg", srcset=img+"services/webp/img3.webp" alt="")
						.item-btn
							span Перейти
							+arrow-icon
					h3.item__title Аппаратные процедуры <br> для лица и тела
				a.item(href="service.html") 
					.item-inner
						img.item__img(src=img+"services/img4.jpg", srcset=img+"services/webp/img4.webp" alt="")
						.item-btn
							span Перейти
							+arrow-icon
					h3.item__title Массаж лица
				a.item(href="service.html") 
					.item-inner
						img.item__img(src=img+"services/img5.jpg", srcset=img+"services/webp/img5.webp" alt="")
						.item-btn
							span Перейти
							+arrow-icon
					h3.item__title Комплексный уход
				.item.item_ghost
					.item-inner
						p.item__title Новое что-нибудь <br> скоро будет


mixin services-page
	section.services.services-page
		.container
			.caption.caption_w1104
				h1.caption__title Что вас интересует?
				p.caption__text Постоянное информационно-пропагандистское обеспечение нашей деятельности предполагает независимые способы реализации анализа существующих паттернов поведения. 
			.inner
				a.item(href="service.html") 
					.item-inner
						img.item__img(src=img+"services/img1.jpg", srcset=img+"services/webp/img1.webp" alt="")
						.item-btn
							span Перейти
							+arrow-icon
					h3.item__title Чистка лица
				a.item(href="service.html") 
					.item-inner
						img.item__img(src=img+"services/img2.jpg", srcset=img+"services/webp/img2.webp" alt="")
						.item-btn
							span Перейти
							+arrow-icon
					h3.item__title Поверхностный пилинг 
				a.item(href="service.html") 
					.item-inner
						img.item__img(src=img+"services/img3.jpg", srcset=img+"services/webp/img3.webp" alt="")
						.item-btn
							span Перейти
							+arrow-icon
					h3.item__title Аппаратные процедуры <br> для лица и тела
				a.item(href="service.html") 
					.item-inner
						img.item__img(src=img+"services/img4.jpg", srcset=img+"services/webp/img4.webp" alt="")
						.item-btn
							span Перейти
							+arrow-icon
					h3.item__title Массаж лица
				a.item(href="service.html") 
					.item-inner
						img.item__img(src=img+"services/img5.jpg", srcset=img+"services/webp/img5.webp" alt="")
						.item-btn
							span Перейти
							+arrow-icon
					h3.item__title Комплексный уход
				.item.item_ghost
					.item-inner
						p.item__title Новое что-нибудь <br> скоро будет
